###### Requirements ######
# These dependencies must be installed before attempting to run this project
# Install with: pip install -r requirements.txt
Django >= 2.0.4
pytz >= 2018.4
django-formtools >= 2.1

