{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h2>Hello, {{ user.first_name }} {{ user.last_name }}</h2>
{% endif %}
{% if user.is_professor %}
<div class="row">
    <div class="col-6-m text-center" >
        <a href="{% url 'attendance:create' %}">Add Attendance</a>
    </div>
    <div class="col-6-m text-center"  >
        <a href="{% url 'attendance:attendance-list' %}">View Attendance</a>
    </div>
</div>
{% endif %}
<table>
    <thead>
    <th>Subject</th>
    <th>Present</th>
    <th>Absent</th>
    <th>Total</th>
    <th>Percent</th>
    </thead>
    <tbody>
    {% for subject, p, a, t, perc in rows %}
        <tr>
            <td>{{ subject.subject_name }}</td>
            <td>{{ p }}</td>
            <td>{{ a }}</td>
            <td>{{ t }}</td>
            <td>{{ perc }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
