{% extends "base.html" %}
{% block content %}
<h4>Attendance List</h4>

<div style="max-width: 600px; margin: 0 auto; padding: 15px;">
    <table>
        <thead>
        <tr>
            <th>Date-Time</th>
            <th>Subject</th>
            <th>Type</th>
            {% if not user.is_professor %}
            <th>Status</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for a in object_list %}
        <tr>
            <td><a href="{% url 'attendance:details' pk=a.pk %}">{{ a.when }}</a></td>
            <td>{{ a.subject }}</td>
            <td>{{ a.get_type_display }}</td>
            {% if not user.is_professor %}
            <td>{{ a.get_status_display }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
<script>
     $("tr").click(function(){
   window.location = "#";
 });
</script>