{% extends "base.html" %}
{% load i18n static %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}

{% if validlink %}

<div class="row">
<p class="text-center">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
</div>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-6-m push-3-m pad-10">
            <label for="id_new_password1">{% trans "New Password" %}</label>
            <input class="field" id="id_new_password1" name="new_password1" type="password" required>
            {{ form.new_password1.errors }}
        </div>
    </div>

    <div class="row">
        <div class="col-6-m push-3-m pad-10">
            <label for="id_new_password2">{% trans "Confirm Password" %}</label>
            <input class="field" id="id_new_password2" name="new_password2" type="password" required>
            {{ form.new_password2.errors }}
        </div>
    </div>

    <div class="row pad-10">
        <div class="col-6-m push-3-m pad-10">
            <input type="submit" class="button right field" value="{% trans 'Change my password' %}" />
        </div>
    </div>
</form>

{% else %}

<p class="danger">{% trans "The password reset link was invalid, possibly because it has already been used. <br>Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
