{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="row">
  <div class="col-10 push-1 col-8-m push-2-m">
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
  </div>
</div>

<form method="post">
{% csrf_token %}
<div class="row">
  <div class="col-6-m push-3-m pad-10">
    {{ form.email.errors }}
  </div>
</div>
<div class="row">
  <div class="col-6-m push-3-m pad-10">
    <label for="id_email">Email Address:</label>
    <input id="id_email" maxlength="254" name="email" type="email" class="field" required />
  </div>
</div>
<div class="row pad-10">
  <div class="col-3-m push-6-m">
    <input type="submit" value="Reset Password" class="right button field" />
  </div>
</div>
</form>
{% endblock %}

